<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="Mongo.Cnn" value="mongodb://MongoDB01:27017,MongoDB02:26017,MongoDB03:25017/?replicaSet=EServices"/>
    <add key="Mongo.Db" value="FilesSync"/>
  </appSettings>
</configuration>